<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Crime Management and Analysyis</title>
</head>
<style>
    .add-keyword-panel {
        margin-top: 150px;
		}
</style>
<body background="static/soldiers-1002_1920.jpg">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<div class="container">
	</br> 
	<!--style="visibility:hidden;"-->
	<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand text-success" href="/">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a href="login?type={{user.admin}}" class="nav-link"  >Admin login</a>
            </li>
            <li class="nav-item">
                <a href="login?type={{user.officer}}" class="nav-link" >Police Officer login</a>
            </li>
            <li class="nav-item">
                <a href="login?type={{user.citizen}}" class="nav-link">Citizen login</a>
            </li>
            <li class="nav-item">
                <a href="public_account"  class="nav-link" >Public account</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownYearLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Year {{selected_year}}
                </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {%for year in dataYears%}
                <a class="dropdown-item" href="statics?year={{year}}&state={{selected_state}}">{{year}}</a>
                {%endfor%}
             </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStateLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    State {{selected_state}}
                </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {%for state in dataStates%}
                <a class="dropdown-item" href="statics?year={{selected_year}}&state={{state}}">{{state}}</a>
                {%endfor%}
             </div>
            </li>
            <li class="nav-item">
                <a href="prediction"  class="nav-link" >Prediction</a>
            </li>
		</ul>
	  </div>
	</nav>
    <div class="container" align="center">
        <h2 >Total IPC Crimes India</h2>
      <img class="img-fluid" src="static/india/bar_year_{{selected_year}}.png" alt="{{selected_year}}" >
    </div>
    <div class="container" align="center">
        <h2 >State Data by year</h2>
        {%for year in reverseYears%}
            <img class="img-fluid" src="static/state/{{selected_state}}_{{year}}.png" alt="{{selected_state}}" >
            </br>
        {%endfor%}
    </div>




</div>
</body>
</html>










